<script>
	import shuffle from 'lodash.shuffle'
	import { onMount } from 'svelte'
	import { Team } from '../lib/team'
	import { Player } from '../lib/player'
	import { CodeName } from '../lib/code_name'
	import TeamShow from './Team.show.svelte'
	
	let playerCount = 4
	let teamOne = new Team()
	let teamTwo = new Team()
	let player1 = new Player()
	let player2 = new Player()
	let player3 = new Player()
	let player4 = new Player()
	let players = []
	let generated = false
	
	$: generateBtnText = generated ? 'Regenerate' : 'Generate'

	onMount(() => setPlayers(playerCount))

  function setPlayers (num) {
		players = num === 2 ? [player1, player2] : [player1, player2, player3, player4]
	}

	function assignPlayers () {
		teamOne.players = []
		teamTwo.players = []
		players = shuffle(players)
		players.forEach((player, i) => {
      assignTeam(player)
			player.codeName = new CodeName().name
		})
		assignPositions()
		generated = true
  }
  
  function assignTeam (player) {
    let teamOneNotFull = teamOne.players.length < (playerCount/2)
    if (teamOneNotFull) {
      teamOne.players = [...teamOne.players, player]
      player.team = teamOne
    } else {
      teamTwo.players = [...teamTwo.players, player]
      player.team = teamTwo
    }
  }

	function assignPositions () {
		if (playerCount === 4) {
			teamOne.players[0].position = 'deffense'
			teamOne.players[1].position = 'offense'
			teamTwo.players[0].position = 'deffense'
			teamTwo.players[1].position = 'offense'
		}
	}
</script>

<main>
	<div class='columns is-centered'>
		<div class='column is-3'>	
		  <h1 class='title'>Foosball Team Generator</h1>
			<div class="form-card">			
				{#if !generated}
					<label>
						<input type=radio bind:group={playerCount} value={2} on:change={()=> setPlayers(2)}>
						2 Players
					</label>
					<label>
						<input type=radio bind:group={playerCount} value={4} on:change={()=> setPlayers(4)}>
						4 Players
					</label>
					<br>
					{#each players as player, i (player)}
						<div class='field'>
							<div class='control'>
								<input type='text' class='input is-primary' bind:value={player.name} placeholder='Player {i+1}'>
							</div>
						</div>
					{/each}
				{/if}

				<button on:click={assignPlayers} class='button is-primary is-fullwidth'>{generateBtnText}</button>
			</div>
		</div>
	</div>
	{#if generated}
		<TeamShow team={teamOne} color='black' serving={true}/>
		<span>Vs.</span>
		<br><br>
		<TeamShow team={teamTwo} color='yellow'/>
	{/if}
</main>

<style>
main {
	text-align: center;
}
.form-card {
	background: #f6f6f6;
	padding: 2rem;
	border-radius: .45rem;
}
h1 {
	margin-top: 1rem;
	color: rgb(100, 100, 100)
}
</style>