<script>
  export let team
  export let color
  export let serving
</script>

<div class='columns is-centered'>
  <div class='column is-3'>	
    <div class="box">
      <h2>
        The {team.name} team
        {#if serving}
          <small>(Serving)</small>
        {/if}
      </h2>
      <div>Side: {color}</div>
      {#each team.players as player, i (player.id)}
        <span class='player-name'>{player.name} </span>
        <small>
          The {player.codeName} 
          {#if player.position}
            - ({player.position})
          {/if}
        </small>
        <br>
      {/each}
    </div>
  </div>
</div>        

<style>
h2 {
	text-transform: capitalize; 
}
.player-name {
	text-transform: capitalize;
	font-weight: bold;
}
</style>