<script>
import FoosballIndex from './components/Foosball.index.svelte'
</script>

<svelte:head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
</svelte:head>

<FoosballIndex />
